<html>
  <head>
    <title>Fresh cargo</title>
    <script src="/vendor/js/react.js"></script>
    <script src="/vendor/js/react-dom.js"></script>
    <script src="/vendor/js/browser.min.js"></script>
    <script src="/vendor/js/jquery.min.js"></script>
    <script src="/vendor/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/vendor/css/materialize.min.css">
  </head>
  <body class="orange darken-4">
    <div id="content"></div>
    <script type="text/babel">
      'use strict'
      window.initial_data = {{{.}}}
    </script>
    <script type="text/babel" src="assets/js/app.js"></script>
    <script type="text/babel">
      'use strict'
      ReactDOM.render(
        React.createElement(window.crates, null),
        document.getElementById('content')
      );
    </script>
  </body>
</html>
